<header class="header">
  <div class="logo">
  
  </div>
  <nav class="navbar">
    <%= form_for(@link, html: {class: 'add-url'}) do |f| %>
      <%= f.text_field :url, placeholder: 'Paste your link here', class: 'input' %>
      <div class="buttons">
        <span class = "button"> Add link:</span>
        <%= f.submit "for now",  class: 'button high', name: 'priority', value: 'for now' %>
        <%= f.submit "for later", class: 'button med', name: 'priority', value: 'for later' %>
        <%= f.submit "for later-er", class: 'button low', name: 'priority', value: 'for later-er' %>
      </div>
    <% end %>
    
  </nav>
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'button sign-out' %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'button sign-out' %>
  <% end %>
</header>